.selector {
       width: 127px !important;
}

body {
	background: black;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

h1{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.bold {
	font-weight: 900;
	display: inline-block;
}

#abouttitle {
	font-weight: bold;
	cursor: pointer;
	margin-top: 30px;
}

#about{
	visibility: hidden;
	position: absolute;
	font-weight: 300;
}

#menu {
	position: absolute;
	margin-left: 20px;
}
